<h1>
    mike's portfolio
    <Br>
        {% load static %}
        

     <img src=" {% static 'folio/card.jpeg' %} " height="500" width="300" alt="photo goes here"> 

     <a href = " {% static 'folio/resume.pdf' %} ">resume</a>

    <Br>

{% for project in projects  %}
<br>
<br>
<br>
***********************
<br>
{{project.title}}
<br>
{{project.description}}
<Br>
{{project.image.url}}
<Br>
    <img src="{{project.image.url}}" height="700" width="1050" >
    <Br>
        {{project.url}}
    <br>
    <a href= {{project.url}}>Link</a>

{%endfor%}

</h1>